 h1 {
     color: #EFD780;
 }

 .pic {
     border-radius: 60%;
 }

 #left-col {
     background-color: #5E747F;
     height: 200vh;




 }

 #left-col h2 {
     color: azure
 }

 #left-col h2 {
     font-size: 1.6em
 }

 body {
     background-color: #BCCCE0
 }

 h2 {
     color: #1E555C;
 }

h5 {
    color: white
}
#left-col {
    margin-left: 16;
        
}
